<?xml version="1.0"?>
<launch>
 
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <!-- <arg name="world_name" value="$(arg world_name)" /> -->
    <arg name="paused" value="false"/>
  </include>

<!-- Load robot description -->

<param name="robot_description" command="$(find xacro)/xacro --inorder $(find omnibot)/urdf/omni.xacro" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


 <!-- Load RViz with the grid -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omnibot)/rviz/omnibot_grid.rviz"/> 


 <!-- Spawn the robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0 -y 0 -z 0.5" />
        
 <!-- Run python scripts -->
    
  <node name="nodo_grid" pkg="omnibot" type="nodo_grid.py" output="screen" />
  <node name="rviz_grid" pkg="omnibot" type="rviz_grid.py" output="screen" />
  
  <node name="puente" pkg="omnibot" type="puente.py" output="screen" />
  <!--<node name="moveg" pkg="omnibot" type="moveg.py" output="screen" />-->
 

</launch>
